/*Mobile First*/
.backGroundRegistration {
    background-color: rgb(154, 216, 222);
    height: 750px;
}

/*.title-background {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(117, 137, 189);
    height: 50px;
    color: white !important;
    margin-bottom: 20px;
    /*position: relative;
    margin-left: -50vw;
    width: 100vw;
    left: 50%;
    border-left: 1rem solid rgb(117, 137, 189);
    margin-top: 10px;
}*/

.Title {
    margin-left: 60px;
}

.studentDetails {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
}

.textInput {
    border-radius: 20px;
    width: 85%;
    margin-left: 20px;
}

.textLabel {
    border-radius: 20px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
    margin-left: 20px;
}

.submitButton {
    background-color: rgb(252, 177, 74);
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
    color: white !important;
    margin: 10px;
    width: 85%;
    margin-left: 20px;
}

.submitButton:hover {
    background-color: rgb(25, 164, 172);
}

/*For tablet*/
@media screen and (min-width: 768px) {
    .backGroundRegistration {
        background-color: rgb(154, 216, 222);
        height: 750px;
    }

    /*.title-background {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: rgb(117, 137, 189);
        border-left: 5rem solid rgb(117, 137, 189);
    }*/

    .textInput {
        border-radius: 20px;
        width: 90%;
    }

    .textLabel {
        border-radius: 20px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
    }

    .studentDetails {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .submitButton {
        width: 90%;
    }
}

/*For desktop*/
@media screen and (min-width: 1200px) {
    .backGroundRegistration {
        background-color: rgb(154, 216, 222);
        height: 750px;
    }

    /*.title-background {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: rgb(117, 137, 189);
        border-left: 11.5rem solid rgb(117, 137, 189);
    }*/

    .textInput {
        border-radius: 20px;
        width: 95%;
    }

    .textLabel {
        border-radius: 20px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
    }

    .studentDetails {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .submitButton {
        width: 95%;
    }
}
