/*Mobile First*/
.title-background {
    background-color: rgb(117, 137, 189);
    padding: 1px;
    color: white !important;
    margin-bottom: 20px;
}

.title {
    margin-left: 40px;
}

.searchBarInput {
    border-radius: 20px;
    border: 7px solid rgb(25, 164, 172);
    margin-left: 40px;
    width: 65%;
}

/*For tablet*/
@media (min-width: 500px) {
    .backGround {
        background-color: rgb(154, 216, 222);
        height: 440px;
    }
}

/*For desktop*/
@media (min-width: 1024px) {
    .backGround {
        background-color: rgb(154, 216, 222);
        height: 440px;
    }
}