/*Mobile First*/
.backGroundLogin {
    background-color: rgb(154, 216, 222);
    height: 320px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.3), 0 8px 20px rgba(0,0,0,0.5);
}

.loginRegisterAccessPar {
    margin-left: 45px;
}

.loginButton {
    margin-left: 60px;
}

.loginIndent {
    margin-left: 40px;
}

.responseStatus {
    display: none;
    color: red;
}

.responseData{
    color:red;
    margin-left: 40px;
}

/*For desktop*/
@media screen and (min-width: 1024px) {
    .backGroundLogin {
        width: 48%;
        height: 400px;
    }

    .loginIndent {
        margin-top: 50px;
        margin-left: 130px;
    }
}