/*Mobile First*/
.backgroundRegister {
    background-color: rgb(154, 216, 222);
    height: 450px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.3), 0 8px 20px rgba(0,0,0,0.5);
}

.registerButton {
    margin-left: 50px;
}

.registerIndent {
    margin-left: 40px;
}

/*For desktop*/
@media screen and (min-width: 1024px) {
    .backgroundRegister {
        width: 48%;
        height: 400px;
    }

    .registerIndent {
        margin-top: -20px;
        margin-left: 130px;
    }
}